<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="../js/vue.js"></script>
</head>
<body>
  <div id="app">
    <!-- <input v-model="kwords" type="text" @keyup="search()"> -->
    <input v-model="kwords" type="text">
    <button @click="search()">查找</button>
  </div>
  <script>
    new Vue({
      el:"#app",
      data:{
        kwords:"请输入搜索关键词"
      },
      methods: {
        search(){
          console.log(`查询${this.kwords}相关的商品...`)
        }
      },
      watch: {//监视
        kwords(){//当kwords发生变化时，就自动执行
          this.search();
        }
      },
    })
  
  </script>
  
</body>
</html>