<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="../js/vue.js"></script>
</head>
<body>
  <div id="app">
    <input type="text" v-model="message" placeholder="输入.....">
    <p>输入的内容是：{{ message }}</p>
    <br>
    <textarea v-model="text" placeholder="输入......"></textarea>
    <p>输入的内容是：</p>
    <p style="white-space: pre">{{ text}}</p>
    <br>
    <input type="text" @input="handleInput" placeholder="输入.....">
    <p>输入的内容是：{{ inputMsg }}</p>
  </div>
  <script>
    var vm = new Vue({
      el: "#app",
      data: {
        message: '',
        text: '',
        inputMsg: ''
      },
      methods: {
        handleInput: function(e){
          this.inputMsg = e.target.value;
        }
      },
    })
  </script>
</body>
</html>